.category-box {
  md-tabs-wrapper {
    background-color: #546E7A;
  }
  .category-link {
    color: #FFFDE7;
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }

  .md-tab {
    cursor: default;
  }

  .md-tab.md-active span {
    color: #2196F3;
  }
}
